.projects-container {
    margin: 0 1rem 0 1rem;
    margin-top: 2rem;
    padding-bottom: 4rem;
}

.projects-title h3 {
    color: #2F281E;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.projects-cards {
    width: 100%;
}

.projects-cards .splide__list {
    gap: 1rem;
}

.projects-cards .splide__slide {
    height: 200px;
}

.projects-cards .splide__pagination {
    bottom: 0 !important;
}

.projects-cards .splide__pagination .is-active {
    background-color: #3A5AFF;
}