.about-container {
    margin: 2rem 4rem 0 4rem;
    padding-bottom: 4rem;
}

.about-title h3 {
    color: #2F281E;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.about-block-img img {
    width: 90%;
    /* background: lightgray 50% / cover no-repeat; */
}

.about-block-icon img {
    width: 128px;
    height: 128px;
}

@media screen and (max-width: 768px) {
    .about-container {
        margin: 2rem 2rem 0 2rem;
    }

    .about-blocks {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .about-block {
        flex-direction: column !important;
        gap: 1rem;
    }

    .about-block-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}