.about-container {
    margin: 2rem 0rem 0 0rem;
    padding-bottom: 4rem;
}

.about-title h3 {
    color: #2F281E;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.about-blocks {
    gap: 4rem;
}

.about-block {
    justify-content: center;
    gap: 6rem;
}

.second-block {
    flex-direction: row-reverse;
}

.about-block-content {
    width: 40%;
}

.about-block-icon img {
    width: 214px;
    height: 214px;
}

@media screen and (max-width: 768px) {
    .about-block-icon img {
        width: 160px;
        height: 160px;
    }
    
    .about-container {
        margin: 2rem 2rem 0 2rem;
    }

    .about-blocks {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .about-block {
        flex-direction: column !important;
        gap: 1rem;
    }

    .about-block-content {
        display: flex;
        width: 60%;
        flex-direction: column;
        gap: 0.75rem;
    }

    .about-block-content h5 {
        text-align: center;
    }

    .about-block-content p {
        text-align: start;
    }
}

@media screen and (max-width: 576px) {
    .about-block-content {
        display: flex;
        width: 80%;
    }
}