.students {
    background: var(--primary, #3A5AFF);
}

.students-container {
    margin: 2rem 0rem 0 0rem;
    padding-bottom: 8rem;
}

.students-title h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.students-opinions {
    margin-top: 4rem;
}

.students-opinions .carousel-indicators {
    top: 120%;
}

.students-opinions .splide__list {
    /* display: flex; */
    justify-content: center !important;
}

.students-opinions .splide__slide {
    width: auto !important  ;
}